
//                               10.03.2009
#include "defparam.h"
#include <windows.h>

//Пустой диалог для привязки иконки к стандартным диалогам
IDD_DLG_PUST DIALOGEX 8, 8, 8, 8
STYLE WS_POPUP
CAPTION ""
FONT 8, "MS Sans Serif", 400, 0
{
}

IDD_DLG_PROGR_BAR DIALOGEX 0, 0, 352, 66
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_BORDER
CAPTION ""
FONT 8, "MS Sans Serif", 400, 0
{
 CONTROL "", IDC_STATICTEXT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 16, 302, 8
 CONTROL "", IDC_STATICTEXT4, "static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 314, 16, 18, 8
 CONTROL "%", 1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 336, 16, 8, 8, 0
 CONTROL "", IDC_PROGRESS, "static", WS_CHILD | WS_VISIBLE | WS_BORDER, 8, 28, 336, 12, WS_EX_STATICEDGE
 CONTROL "", IDC_STATICTEXT6, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 254, 44, 58, 8, 0
 CONTROL "00:00:00", IDC_STATICTEXT3, "static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 314, 44, 28, 8, 0
 CONTROL "", IDC_STATICTEXT7, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 44, 58, 8, 0
 CONTROL "00:00:00", IDC_STATICTEXT5, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 68, 44, 28, 8, 0
 CONTROL "", IDCANCEL, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 154, 48, 44, 14
 CONTROL "", IDC_STATICTEXT2, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 0, 4, 352, 10
}

IDD_DLG_PROGR_BAR2 DIALOGEX 0, 0, 352, 120
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_BORDER
CAPTION ""
FONT 8, "MS Sans Serif", 400, 0
{
 CONTROL "", IDC_STATICTEXT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 16, 302, 8
 CONTROL "", IDC_STATICTEXT4, "static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 314, 16, 18, 8
 CONTROL "%", 1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 336, 16, 8, 8, 0
 CONTROL "", IDC_PROGRESS1, "static", WS_CHILD | WS_VISIBLE | WS_BORDER, 8, 28, 336, 12, WS_EX_STATICEDGE
 CONTROL "", IDC_STATICTEXT6, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 254, 44, 58, 8, 0
 CONTROL "00:00:00", IDC_STATICTEXT3, "static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 314, 44, 28, 8, 0
 CONTROL "", IDC_STATICTEXT7, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 44, 58, 8, 0
 CONTROL "00:00:00", IDC_STATICTEXT5, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 68, 44, 28, 8, 0
 CONTROL "", IDC_STATICTEXT11, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 61, 302, 8
 CONTROL "", IDC_STATICTEXT14, "static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 314, 61, 18, 8
 CONTROL "%", 1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 336, 61, 8, 8, 0
 CONTROL "", IDC_PROGRESS2, "static", WS_CHILD | WS_VISIBLE | WS_BORDER, 8, 73, 336, 12, WS_EX_STATICEDGE
 CONTROL "", IDC_STATICTEXT16, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 254, 89, 58, 8, 0
 CONTROL "00:00:00", IDC_STATICTEXT13, "static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 314, 89, 28, 8, 0
 CONTROL "", IDC_STATICTEXT17, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 89, 58, 8, 0
 CONTROL "00:00:00", IDC_STATICTEXT15, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 68, 89, 28, 8, 0
 CONTROL "", IDCANCEL, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 154, 103, 44, 14
 CONTROL "", IDC_STATICTEXT2, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 0, 4, 352, 10
}

IDD_DLG_F_YESNO DIALOGEX 0, 0, 307, 87
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 8, "MS Sans Serif", 400, 0
{
 CONTROL 32514, -1, "static", SS_ICON | WS_CHILD | WS_VISIBLE, 8, 8, 21, 20
 CONTROL "", IDC_STATICTEXT1, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 34, 13, 264, 8
 CONTROL "", IDC_STATICTEXT2, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 34, 30, 264, 8
 CONTROL "", IDC_REWRITE, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 68, 88, 14
 CONTROL "", IDC_NEW, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 104, 68, 100, 14
 CONTROL "", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 212, 68, 88, 14
}

IDD_DLG_FILE_YES DIALOGEX 0, 0, 340, 135
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 8, "MS Sans Serif", 400, 0
{
 CONTROL 32514, -1, "static", SS_ICON | WS_CHILD | WS_VISIBLE, 8, 8, 21, 20
 CONTROL "", IDC_STATICTEXT1, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 34, 12, 302, 10
 CONTROL "", IDC_STATICTEXT2, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 34, 26, 302, 10
 CONTROL "", IDC_STATICTEXT3, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 29, 42, 86, 10
 CONTROL "", IDC_STATICTEXT4, "static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 123, 42, 64, 10, WS_EX_STATICEDGE
 CONTROL "", IDC_STATICTEXT5, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 193, 42, 20, 10
 CONTROL "", IDC_STATICTEXT6, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 223, 42, 88, 10, WS_EX_STATICEDGE
 CONTROL "", IDC_STATICTEXT7, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 29, 57, 86, 10
 CONTROL "", IDC_STATICTEXT8, "static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 123, 57, 64, 10, 131072
 CONTROL "", IDC_STATICTEXT9, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 193, 57, 20, 10
 CONTROL "", IDC_STATICTEXT10, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 223, 57, 88, 10, 131072
 CONTROL "", IDOK, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 76, 100, 14
 CONTROL "", IDC_REP_ALL, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 96, 100, 14
 CONTROL "", IDC_REP_OLD, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 116, 100, 14
 CONTROL "", IDC_SCIP, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 76, 100, 14
 CONTROL "", IDC_SCIP_ALL, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 96, 100, 14
 CONTROL "", IDC_RENAME, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 226, 76, 100, 14
 CONTROL "", IDC_REN_AUTO, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 226, 96, 100, 14
 CONTROL "", IDCANCEL, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 116, 100, 14
}

IDD_DLG_FILE_SIZE DIALOGEX 0, 0, 180, 101
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 8, "MS Sans Serif", 400, 0
{
 CONTROL 32515, -1, "static", SS_ICON | WS_CHILD | WS_VISIBLE, 8, 8, 21, 20
 CONTROL "", IDC_STATICTEXT1, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 40, 8, 132, 20
 CONTROL "", IDC_STATICTEXT3, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 34, 40, 10
 CONTROL "", IDC_STATICTEXT4, "static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 56, 34, 72, 10
 CONTROL "", IDC_STATICTEXT5, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 140, 34, 32, 10
 CONTROL "", IDC_STATICTEXT6, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 44, 40, 10
 CONTROL "", IDC_STATICTEXT7, "static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 56, 44, 72, 10
 CONTROL "", IDC_STATICTEXT8, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 140, 44, 32, 10
 CONTROL "", IDC_STATICTEXT9, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 8, 60, 164, 10
 CONTROL "", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 81, 60, 14
 CONTROL "", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 97, 81, 60, 14
}

IDD_WAIT DIALOGEX 0, 0, 172, 72
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_BORDER
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_STATICTEXT1, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 8, 8, 156, 8
 CONTROL "", IDC_STATICTEXT2, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 8, 18, 156, 8
 CONTROL "", IDC_STATICTEXT3, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 8, 28, 156, 8
 CONTROL "", IDC_STATICTEXT4, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 8, 44, 156, 8
 CONTROL "", IDC_STATICTEXT5, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 8, 59, 156, 8
}

IDD_DLG_CONFIG DIALOGEX 0, 0, 376, 261
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_GROUPBOX2, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 8, 200, 230
 CONTROL "", IDC_CHECKBOX1, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 170, 184, 12
 CONTROL "", IDC_CHECKBOX2, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 182, 184, 12
 CONTROL "", IDC_CHECKBOX3, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 194, 184, 12
 CONTROL "", IDC_CHECKBOX4, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 206, 176, 12
 CONTROL "", IDC_CHECKBOX5, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 218, 176, 12
 CONTROL "", IDC_GROUPBOX1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 216, 148, 152, 90
 CONTROL "ListBox1", IDC_LISTBOX1, "listbox", LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 224, 158, 136, 74
 CONTROL "", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 243, 50, 14
 CONTROL "", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 224, 243, 50, 14
 CONTROL "", IDC_GROUPBOX3, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 216, 8, 152, 28
 CONTROL "", IDC_RADIOBUTTON1, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 221, 20, 67, 12
 CONTROL "", IDC_RADIOBUTTON2, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 288, 20, 76, 12
 CONTROL "", IDC_GROUPBOX4, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 18, 184, 28
 CONTROL "", IDC_RADIOBUTTON3, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 30, 84, 12
 CONTROL "", IDC_RADIOBUTTON4, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 30, 84, 12
 CONTROL "", IDC_GROUPBOX5, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 216, 41, 152, 28
 CONTROL "", IDC_RADIOBUTTON6, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 221, 53, 68, 12
 CONTROL "", IDC_RADIOBUTTON5, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 295, 53, 69, 13
 CONTROL "", IDC_GROUPBOX6, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 216, 75, 152, 42
 CONTROL "", IDC_RADIOBUTTON7, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 228, 87, 36, 9
 CONTROL "", IDC_RADIOBUTTON8, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 228, 101, 44, 9
 CONTROL "", IDC_RADIOBUTTON9, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 306, 87, 52, 12
 CONTROL "", IDC_RADIOBUTTON10, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 306, 101, 56, 12
 CONTROL "", IDC_CHECKBOX6, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 158, 184, 12
 CONTROL "", IDC_GROUPBOX7, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 50, 184, 28
 CONTROL "", IDC_RADIOBUTTON11, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 62, 84, 12
 CONTROL "", IDC_RADIOBUTTON12, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 62, 84, 12
 CONTROL "", IDC_GROUPBOX8, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 82, 184, 28
 CONTROL "", IDC_RADIOBUTTON13, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 94, 52, 12
 CONTROL "", IDC_RADIOBUTTON14, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 78, 94, 48, 12
 CONTROL "", IDC_RADIOBUTTON15, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 94, 68, 12
 CONTROL "", IDC_GROUPBOX9, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 114, 184, 28
 CONTROL "", IDC_RADIOBUTTON16, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 127, 52, 12
 CONTROL "", IDC_RADIOBUTTON17, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 78, 127, 48, 12
 CONTROL "", IDC_RADIOBUTTON18, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 127, 68, 12
 CONTROL "", IDC_CHECKBOX7, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 146, 184, 12
 CONTROL "", IDC_GROUPBOX10, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 216, 120, 152, 26
 CONTROL "", IDC_CHECKBOX8, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 224, 131, 140, 9
}


IDD_DLG_ABOUT DIALOGEX 0, 0, 284, 114
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_ABSALIGN | DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Sans Serif", 400, 0
{
 CONTROL "Frame", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 8, 8, 268, 80
 CONTROL "The program of copying of files from a hard disk taken out from recorder LG", IDC_STATICTEXT1, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 10, 16, 264, 8
 CONTROL IDI_ICON1, -1, "static", SS_ICON | WS_CHILD | WS_VISIBLE, 23, 31, 21, 20
 CONTROL "From_HDD_LG_to_PC", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 57, 31, 80, 8
 CONTROL "Version", IDC_STATICTEXT6, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 139, 31, 28, 8
 CONTROL "", IDC_STATICTEXT7, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 169, 31, 100, 8
 CONTROL "Author of Kudryashov V. ( Val238 ), Moscow, Russian Federation", IDC_STATICTEXT2, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 10, 60, 264, 8
 CONTROL "http://from-hdd-lg-to-pc.narod.ru", IDC_STATICTEXT3, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 57, 43, 120, 9
 CONTROL "e-mail:", IDC_STATICTEXT4, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 107, 72, 21, 12
 CONTROL "val238@mail.ru", IDC_STATICTEXT5, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 131, 72, 60, 12
 CONTROL "Close", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 118, 95, 50, 14
}

IDD_DLG_FOLDER DIALOGEX 0, 0, 370, 34
STYLE DS_3DLOOK | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_GROUPBOX1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 66, 0, 228, 28, WS_EX_TRANSPARENT
 CONTROL "JUKEBOX", IDC_CHECKBOX1, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 81, 14, 48, 8
 CONTROL "MEDIA", IDC_CHECKBOX2, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 134, 14, 46, 8
 CONTROL "PHOTO", IDC_CHECKBOX3, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 185, 14, 48, 8
 CONTROL "VIDEO", IDC_CHECKBOX4, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 239, 14, 48, 8
}
/*
//IDD_LIST_WRITE DIALOGEX 0, 0, 411, 240
IDD_LIST_WRITE DIALOGEX 0, 0, 514, 240
STYLE DS_3DLOOK | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
FONT 8, "MS Sans Serif"
{
 CONTROL "", 0x045f, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 0, 240, 300
 CONTROL "", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 240, 0, 2, 240
 CONTROL "", IDC_GROUPBOX1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 297, 4, 160, 24
 CONTROL "JUKEBOX", IDC_RADIOBUTTON1, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 305, 16, 48, 8
 CONTROL "PHOTO", IDC_RADIOBUTTON2, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 360, 16, 40, 8
 CONTROL "VIDEO", IDC_RADIOBUTTON3, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 408, 16, 40, 8
 CONTROL "", IDC_STATICTEXT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 245, 34, 27, 11
 CONTROL "", IDC_EDIT1, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 276, 32, 234, 14
 CONTROL "", IDC_TREEVIEW1, "SysTreeView32", WS_CHILD | WS_VISIBLE | WS_BORDER, 245, 48, 264, 170
 CONTROL "", IDC_NEW_FOLDER, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 245, 222, 68, 14
}
*/

IDB_ICON BITMAP LOADONCALL MOVEABLE DISCARDABLE "icon_.bmp"

IDI_ICON1 ICON "lg.ico"

IDD_DLG_NAME DIALOGEX 0, 0, 240, 65
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 46, 60, 14
 CONTROL "", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 147, 46, 60, 14
 CONTROL "", IDC_EDIT1, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 12, 224, 14
 CONTROL "", IDC_STATICTEXT1, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 8, 30, 224, 10
}

IDD_DLG_DEL_NAME DIALOGEX 0, 0, 240, 65
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL 32514, -1, "static", SS_ICON | WS_CHILD | WS_VISIBLE, 8, 8, 21, 20
 CONTROL "", IDC_STATICTEXT1, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 8, 27, 224, 10
 CONTROL "", IDC_STATICTEXT2, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 32, 8, 206, 14, WS_EX_STATICEDGE
 CONTROL "", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 47, 60, 14
 CONTROL "", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 147, 47, 60, 14
}


